{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {{NAME}}
        </title>
        <link
            rel = "stylesheet"
            href = "{% static '2faUpdate.css' %}">
        <link
            rel = "shortcut icon"
            href = "{{ICON}}">
    </head>
    <body>
        <div class = "center-login">
            <div class = "login" style="text-align: center;">
                <h2>Your 2FA key is
                <code style="background-color: #212121;">{{2fa}}</code><br><br></h2>
                <small>If it doesnt work for you, please go to your user settings and disable 2fa before it's too late.</small><br><a style="color: #eee;" href="{% url 'user:settings' %}">Back to settings</a>
            </div>
        </div>
        <a style="position: fixed; top: 10px; right: 10px;" href="https://github.com/CutyCat2000/ychat.dev/"><img src="https://github.com/favicon.ico" alt="GitHub"></a>
    </body>
</html>
