{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {{NAME}}
        </title>
        <link
            rel = "stylesheet"
            href = "{% static 'scrollUpdate.css' %}">
        <link
            rel = "shortcut icon"
            href = "{{ICON}}">
    </head>
    <body>
        <div class = "center-login">
            <div class = "login">
                <h2>Login</h2>
                <form method="post">
                    {% csrf_token %}
                    {{form.username}}
                    {{form.password}}
                    <button class = "loginbtn" type="submit">Login</button>
                    <div class="loginbtn" onclick = "window.open('{% url "user:register" %}',target='_self')">Register</div>
                </form>
            </div>
        </div>
        <a style="position: fixed; top: 10px; right: 10px;" href="https://github.com/CutyCat2000/ychat.dev/"><img src="https://github.com/favicon.ico" alt="GitHub"></a>
    </body>
</html>
