{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {{NAME}}
        </title>
        <link
            rel = "stylesheet"
            href = "{% static 'channelUpdate.css' %}">
        <link
            rel = "shortcut icon"
            href = "{{ICON}}">
        <meta
            name = "og:title"
            content = "{{NAME}}">
        <meta
            name = "og:description"
            content = "The free Open Source chatapp">
        <meta
            name = "og:image"
            content = "{{ICON}}">
    </head>
    <body>
        <div
            class = "settings-nav">
            <h2>
                Settings
            </h2>
            <a
                href = "{% url 'user:settings' %}">
                Account Settings
            </a>
            {% if not has2fa %}
            <a 
                href = "{% url 'user:enable_2fa' %}" class="intercept">
                Enable 2FA
            </a>
            {% else %}
            <a 
                href = "{% url 'user:enable_2fa' %}">
                View 2FA key
            </a>
            <a
                href = "{% url 'user:disable_2fa' %}">
                Disable 2FA
            </a>
            {% endif %}
            <a
                href = "{% url 'user:logout' %}"
                class = "logout-link">
                Logout
            </a>
        </div>
        <div
            class = "settings">
            <h2>
              Account Settings
            </h2>
            <form
                method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button
                    type="submit">
                    Save
                </button>
                <a
                    href = "{% url 'home' %}">
                    Cancel
                </a>
            </form>
        </div>
        <a style="position: fixed; top: 10px; right: 10px;" href="https://github.com/CutyCat2000/ychat.dev/"><img src="https://github.com/favicon.ico" alt="GitHub"></a>
        <script>
          var interceptLinks = document.querySelectorAll('.intercept');
          interceptLinks.forEach(function(link) {
              link.addEventListener('click', function(event) {
                  event.preventDefault();
                  if (confirm("Do you really want to enable 2 factor authentication?\nThere is no way back.")) {
                    open(link.href, target="_self");
                  }
              });
          });
        </script>
    </body>
</html>
